.main {
    background-color: cornflowerblue;
    height: 40px;
    border-radius: 4px;
}

.hello {
    color: navajowhite;
}

a.select:hover {
    color: cornflowerblue;
}
#change-picture {
    max-height: 100%;
    max-width: 100%;
}

.custom-file {
    margin-top: 11px;
}
